body{

	background-color:black;
}
/* Works on Firefox */
.upcase{
	text-transform:uppercase;
	font-size:30px;
	
}
* {
  scrollbar-width: thin;
  scrollbar-color: black green;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 20px;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
  border: 10px solid  green;
}
body{
 scrollbar-color: white black;   /* scroll thumb and track */ 
 background-color:black;

}
table{
	background:white; 
	color:black; 
	border-radius:4px;
	
	width:50%;
	height:50%;

	
}
tr{
	
	width:300px;
	padding:20px;
	
}
th{
	padding-right:40px;
	padding-left:40px;
	border-radius:25px;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #04AA6D;
	color: white;

	font-family: 'Abril Fatface', 
	cursive; font-family: 'DynaPuff', cursive; 
	
}
td{
	padding-top:20px;	
	padding-right:40px;
	padding-left:40px;
	border-radius:25px;
	text-align:center;
	border: 1px solid #ddd;
	padding: 8px;
	border-color:black;
}

.popup{
	position:fixed;
	padding:20px;
	width:500px;
	height:50%;
	z-index=4;
	left:70%;
	background:white; 
	color:black; 
	border-radius:28px;
	font-size:39px;
	
		
	
}

.chatWin{
	position:fixed;
	right:20px;
	width:500px;
	height:650px;
	border-style: solid;
	border-color: black;
	border-radius: 5px;
	overflow-y:scroll;
	font-size:20px;
	color:white;
	display:none; 

}

.QuestionDiv{
	font-size:50px;
	color:white;
	top:80%;
	text-align:center;
	background-color:black;
	width:80%;
	height:650px;
	border-style: solid;
	border-color: black;
	border-radius: 5px
	
}


.grid-container-game{
	color:white;


    display:grid;
    grid-template-columns:25% 25% 25% 25% 25%;
	left:10%;
	top:5%;
    grid-gap: 5px;
    background-color: black;
    position: fixed;
    width: 650px;
    height: 650px;
    margin: 8px;

}
.grid-container-game >div{
	color:white;
    text-align: center;
    background-color: blue;
    color:white; 
	width:auto;
	height:auto;
    padding: 10px 0 ;
    border-radius:14px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
	font-size:30px;
}

.grid-container-main{

    display:grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 14px;
    background-color: white;
    width: auto;
    margin: 10px;
  

}
.grid-container-main >div{
    


}
.specialFont{
	color:white;
	font-family: 'Abril Fatface', 
	cursive; font-family: 'DynaPuff', cursive; 
	font-size:50px; 
	
}
